In [2]:
import settings
import psycopg2
import datetime
import pandas as pd

In [2]:
settings.DB.host
db = settings.DB
print(db.host)
print(db.user)

127.0.0.1
postgres

In [3]:
def connect(db):
    global conn
    conn = psycopg2.connect(dbname=db.name, user=db.user, 
                        password=db.password, host=db.host)
    conn.autocommit = True
    global cursor
    cursor = conn.cursor()
    return cursor

In [6]:
def fillFaculties(cur):
    cur.execute("INSERT into beta_facultiest values (0, 'ИУ', 11)")
    cur.execute("INSERT into beta_facultiest values (1, 'ФН', 14)")
    cur.execute("INSERT into beta_facultiest values (2, 'СГН', 11)")
    cur.execute("INSERT into beta_facultiest values (3, 'МТ', 11)")
    cur.execute("INSERT into beta_facultiest values (4, 'РЛ', 11)")
def select(name):
    db = settings.DB
    conn = psycopg2.connect(dbname=db.name, user=db.user, 
                        password=db.password, host=db.host)
    return pd.read_sql("select * from " + name, conn)
def mockDB(cur):
    # outgoing:
    cur.execute("INSERT into beta_persont values (1, 'Даниил', 'Иванов', 1, 2,\
    'биография Д.И. lorem ipsum lorem ipsum lorem ipsum',\
    true, 0, 0, 'uname2', 2, 1, false, false)")
    cur.execute("INSERT into beta_persont values (2, 'Михаил', 'Иванов', 1, 2,\
    'биография М.И. lorem ipsum lorem ipsum lorem ipsum',\
    true, 0, 0, 'uname2', 2, 1, false, false)")
    
    #incoming
    cur.execute("INSERT into beta_persont values (3, 'Александр', 'Иванов', 1, 2,\
    'биография Д.И. lorem ipsum lorem ipsum lorem ipsum',\
    true, 0, 0, 'uname2', 2, 1, false, false)")
    cur.execute("INSERT into beta_persont values (4, 'Алексей', 'Иванов', 1, 2,\
    'биография М.И. lorem ipsum lorem ipsum lorem ipsum',\
    true, 0, 0, 'uname2', 2, 1, false, false)")
    
    
    cur.execute("INSERT into beta_persont values (421423205, 'Астахов', 'Сергей', 1, 2,\
    'биография А.С. lorem ipsum lorem ipsum lorem ipsum',\
    true, 0, 0, 'trickster2038', 2, 1, false, false)")
    cur.execute("INSERT into beta_friendst values (0, 421423205, 1, false)")
    cur.execute("INSERT into beta_friendst values (1, 421423205, 2, false)")
    cur.execute("INSERT into beta_friendst values (2, 3, 421423205, false)")
    cur.execute("INSERT into beta_friendst values (3, 4, 421423205, false)")

In [5]:
cursor = connect(db)
cursor.execute("truncate beta_persont")
cursor.execute("truncate beta_friendst")
cursor.execute("truncate beta_facultiest")
mockDB(cursor)
fillFaculties(cursor)

In [7]:
select("beta_persont")

,id,name,surname,department,course,bio,is_filled,rating,accesss,username,faculty,trusted,is_moderator,is_curator
0,1,Даниил,Иванов,1,2,биография Д.И. lorem ipsum lorem ipsum lorem i...,True,0,0,uname2,2,1,False,False
1,2,Михаил,Иванов,1,2,биография М.И. lorem ipsum lorem ipsum lorem i...,True,0,0,uname2,2,1,False,False
2,3,Александр,Иванов,1,2,биография Д.И. lorem ipsum lorem ipsum lorem i...,True,0,0,uname2,2,1,False,False
3,4,Алексей,Иванов,1,2,биография М.И. lorem ipsum lorem ipsum lorem i...,True,0,0,uname2,2,1,False,False
4,421423205,Астахов,Сергей,1,2,биография А.С. lorem ipsum lorem ipsum lorem i...,True,0,0,trickster2038,2,1,False,False