In [5]:
import settings
import psycopg2
import datetime

In [6]:
settings.DB.host
db = settings.DB
print(db.host)
print(db.user)

127.0.0.1
postgres

In [7]:
def connect(db):
    global conn
    print(db.password)
    conn = psycopg2.connect(dbname=db.name, user=db.user, 
                        password=db.password, host=db.host)
    conn.autocommit = True
    global cursor
    cursor = conn.cursor()
    
    return cursor

In [8]:
cursor = connect(db)

12481632

In [9]:
def exclude(r):
    return r[0]

In [10]:
# 421423205
def mockAuth(cur):
    x = datetime.datetime.now()
    x = str(x).split(".")[0]
    query = "insert into auth_user values (default, 'pass1', TIMESTAMP '{}', false, 'user1',\
    '', '', '', false , true, TIMESTAMP '{}')".format(x, x)
#     query = "insert into auth_user values \
# (default, 'pass1', TIMESTAMP '2021-07-06 15:54:46', false, 'user1', \
#  '', '', '', false , true, TIMESTAMP '2021-05-06 15:54:46')"
    print(query)
    cur.execute(query)
def mockDB(cur):
    cur.execute("insert into beta_auth values (default, 'trickster2038', 'hello')")
    
    cur.execute("insert into friends values (default, 2, 421423205, default)")
    cur.execute("insert into friends values (default, 1, 2, default)")
    cur.execute("insert into friends values (default, 0, 2, default)")
    cur.execute("INSERT into public.\"users\" values (0, '{Иван}', '{Иванов}', 1, 2, '{рассказ ою И.И.}', true, default, default, '{uname1}', 2, default, default, default)")
    cur.execute("INSERT into public.\"users\" values (1, '{Даниил}', '{Иванов}', 1, 2,\
    '{биография Д.И. lorem ipsum lorem ipsum lorem ipsum}',\
    true, default, default, '{uname2}', 2, 1, default, default)")
    cur.execute("INSERT into public.\"users\" values (2, '{Михаил}', '{Иванов}', 1, 2, '{Миша о себе}', true, default, default, '{uname3}', 2, 1, default, default)")
    cur.execute("INSERT into public.\"users\" values (421423205, '{Сергей}', '{Астахов}', 1, 2, '{bio2}', true, default, default, '{trickster2038}', 2, 1, true, default)")
    cur.execute("INSERT into public.\"users\" values (3, '{Юрий}', '{Сидоров}', 1, 3, '{bio2}', true, default, default, '{uname4}', 2, 1, true, true)")
    cur.execute("INSERT into public.\"users\" values (4, '{Алексей}', '{Петров}', 1, 3, '{bio2}', true, default, default, '{uname5}', 2, 2, true, true)")

In [11]:
# ========================================

In [12]:
cursor = connect(db)
cursor.execute("truncate public.users")
cursor.execute("truncate friends")
cursor.execute("truncate beta_auth")
#mockAuth(cursor)
mockDB(cursor)
id = 0
cursor.execute("SELECT user2 from friends where user1 = 421423205 and not applied")
result = cursor.fetchall()
#result = []
data = []
for x in result:
    data.append(int(x[0]))
    print(int(x[0]))
print(data)
# cursor.execute("INSERT into public.\"users\" values (0, '{Ivan}', null, null, null, null, default, default, default, default, '{nick}', null)")

12481632

UndefinedTable: ОШИБКА:  отношение "public.users" не существует

In [13]:
# =======================================

In [14]:
cursor.execute("update public.\"users\" set \"name\" = '{Ivan2}' where id = 0")

UndefinedTable: ОШИБКА:  отношение "public.users" не существует
LINE 1: update public."users" set "name" = '{Ivan2}' where id = 0
               ^

In [15]:
#cursor.execute("select faculty FROM public.\"users\" where id = 421423205")
#res = cursor.fetchone()
bio1 = ["bio1223"]

In [11]:
id = 0
faculties = [["ИУ", 11],["ФН", 14],["СГН", 11],["МТ", 11],["РЛ", 11]]
trust_mods = ["не подтверждены", "на модерации", "подтверждены"]
cursor.execute("SELECT name, surname, faculty, department, course, trusted, bio  from public.users where id = {}".format(id))
r = cursor.fetchone()
s = r[0][0] + " " + r[1][0] + "\n"
s += "кафедра: " + faculties[int(r[2])][0] + "-" + str(int(r[3])) + "\n"
s += "курс: " + str(int(r[4])) + "\n"
s += "данные аккаунта: " + trust_mods[int(r[5])] + "\n\n"
s += r[6][0]
print(s)

Ivan2 Иванов
кафедра: СГН-1
курс: 2
данные аккаунта: не подтверждены

рассказ ою И.И.

In [20]:
cursor.execute("truncate public.users")
cursor.execute("truncate friends")
mockDB(cursor)
cursor.execute("SELECT * from users")
result = cursor.fetchall()
result

[(Decimal('0'),
  ['Иван'],
  ['Иванов'],
  Decimal('1'),
  Decimal('2'),
  ['рассказ ою И.И.'],
  True,
  Decimal('0'),
  Decimal('0'),
  ['uname1'],
  Decimal('2'),
  Decimal('0'),
  False,
  False),
 (Decimal('1'),
  ['Даниил'],
  ['Иванов'],
  Decimal('1'),
  Decimal('2'),
  ['биография Д.И. lorem ipsum lorem ipsum lorem ipsum'],
  True,
  Decimal('0'),
  Decimal('0'),
  ['uname2'],
  Decimal('2'),
  Decimal('1'),
  False,
  False),
 (Decimal('2'),
  ['Михаил'],
  ['Иванов'],
  Decimal('1'),
  Decimal('2'),
  ['Миша о себе'],
  True,
  Decimal('0'),
  Decimal('0'),
  ['uname3'],
  Decimal('2'),
  Decimal('1'),
  False,
  False),
 (Decimal('421423205'),
  ['Сергей'],
  ['Астахов'],
  Decimal('1'),
  Decimal('2'),
  ['bio2'],
  True,
  Decimal('0'),
  Decimal('0'),
  ['trickster2038'],
  Decimal('2'),
  Decimal('1'),
  True,
  False),
 (Decimal('3'),
  ['Юрий'],
  ['Сидоров'],
  Decimal('1'),
  Decimal('3'),
  ['bio2'],
  True,
  Decimal('0'),
  Decimal('0'),
  ['uname4'],
  Decimal('2'),
  Decimal('1'),
  True,
  True),
 (Decimal('4'),
  ['Алексей'],
  ['Петров'],
  Decimal('1'),
  Decimal('3'),
  ['bio2'],
  True,
  Decimal('0'),
  Decimal('0'),
  ['uname5'],
  Decimal('2'),
  Decimal('2'),
  True,
  True)]

In [21]:
import pandas as pd
df = pd.DataFrame(data=result)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0,[Иван],[Иванов],1,2,[рассказ ою И.И.],True,0,0,[uname1],2,0,False,False
1,1,[Даниил],[Иванов],1,2,[биография Д.И. lorem ipsum lorem ipsum lorem ...,True,0,0,[uname2],2,1,False,False
2,2,[Михаил],[Иванов],1,2,[Миша о себе],True,0,0,[uname3],2,1,False,False
3,421423205,[Сергей],[Астахов],1,2,[bio2],True,0,0,[trickster2038],2,1,True,False
4,3,[Юрий],[Сидоров],1,3,[bio2],True,0,0,[uname4],2,1,True,True